.nav{
    width: 90%;
    margin: 20px, auto;
    color: white;

}

a:-webkit-any-link {
    text-decoration: none;
    color: White;
    background-color: black;
    margin-left: 5px;
    padding: 5px;
}

ul {
    list-style-type: none;
}

.nav .ul{
    position: relative;
}

.nav .ul > .li{
    display: inline-block
    
}


.nav > .li > .a{
    background: rgb(40, 39, 37);
    padding: 20px;
    display: block;
}

.nav .li:hover > .a {
    background: rgb(79, 77, 72);

}

.subNav{
    background: rgb(79, 77, 72);
    padding: 10px;
    position: absolute;
    display: none;
}

.subNav .ul >.li{
    display: inline-block;
}

.nav .li:hover .subNav{
    display: block;
}